.todo
  display: flex
  flex-direction: column
  gap: 20px
  height: 500px

  .todoFiltersWrapper
    display: flex
    flex-direction: column
    gap: 10px

    .todoFilters
      display: flex
      justify-content: space-between
      gap: 10px

  .todoTaskList
    display: flex
    flex-direction: column
    gap: 10px
    max-height: 500px
    overflow-y: auto

    .todoTask
      background-color: var(--taskBgColor)

      &.isCompleted
        background-color: var(--taskBgColorComplete)

  @media screen and (max-height:700px)
    height: 400px
