.mainPage
  display: flex
  min-height: 100vh

  .mainPageCard
    flex: 3
    position: relative
    transition: flex 1s ease
    &:hover
      flex: 5

    &:last-of-type
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 20px
        height: 100%
        transform: translateX(-50%)
        backdrop-filter: blur(2px)
