.mainPage
  display: flex
  height: 100vh

  .mainPageCard
    flex: 3
    position: relative
    transition: flex 1s ease
    &:hover
      flex: 5

    &:not(:first-of-type)
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 20px
        height: 100%
        transform: translateX(-50%)
        backdrop-filter: blur(2px)

  @media screen and (max-width:900px)
    flex-direction: column

    .mainPageCard
      &:not(:first-of-type)
        &::before
          content: ''
          position: absolute
          top: 0
          left: 0
          right: 0
          width: 100%
          height: 20px
          transform: translateY(-50%)
          backdrop-filter: blur(2px)
